<div class="ui centered grid" style="margin-top: 70px">
  <form class="ui form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <h1>Add a fuel</h1>
    <div class="field">
      <label style="color: white">Type</label>
      <input type="text" placeholder="Type" ngModel name="type" required>
    </div>
    <div class="field">
      <label style="color: white">Weight</label>
      <input type="text" placeholder="Weight (kg)" ngModel name="weight" required number>
    </div>
    <button [disabled]="!form.valid" type="submit" class="ui button">Submit</button>
  </form>
</div>