<div class="ui primary inverted massive menu" style="border-radius: 0px; opacity: 0.7;">
  <a class="item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">Tyraka</a>
  <div class="right menu">
    <a class="item" routerLink="engine-upload" routerLinkActive="active">Add engine</a>
    <a class="item" routerLink="test-upload" routerLinkActive="active">Upload test result</a>
    <a class="item" routerLink="tests" routerLinkActive="active">Tests</a>
    <a class="item" routerLink="engines" routerLinkActive="active">Engines</a>
  </div>
</div>