<div class="ui centered grid">
  <form class="ui form" style="margin-top: 70px" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <h1>Add a body</h1>
    <div class="field">
      <label style="color: white">Material</label>
      <input type="text" placeholder="Material" ngModel name="material" required>
    </div>
    <div class="field">
      <label style="color: white">Height</label>
      <input type="number" placeholder="Height (cm)" ngModel name="height" required number>
    </div>
    <div class="field">
      <label style="color: white">Diameter</label>
      <input type="number" placeholder="Diameter (cm)" ngModel name="diameter" required number>
    </div>
    <div class="field">
      <label style="color: white">Weight</label>
      <input type="number" placeholder="Weight (kg)" ngModel name="weight" required number>
    </div>
    <button [disabled]="!form.valid" class="ui button" type="submit">Submit</button>
  </form>
</div>