<div class="ui centered grid" style="margin-top: 70px">
  <form class="ui form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <h1>Add a plug</h1>
    <div class="field">
      <label style="color: white">Material</label>
      <div class="ui input"><input type="text" placeholder="Material" ngModel name="material" required></div>
    </div>
    <div class="field">
      <label style="color: white">Weight</label>
      <div class="ui input"><input type="number" placeholder="Weight (kg)" ngModel name="weight" required number></div>
    </div>
    <button [disabled]="!form.valid" class="submit" class="ui button">Submit</button>
  </form>
</div>